*{
    margin:0;
    font-family:arial;
    border:border-box;
}
.navbar{
    height:60px;
    background-color:#0f1111;
    color:white;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
}
.nav-logo{
    height:50px;width:100px;
}
.logo{
    background-image:url(amazon-logo-cover.png);
    background-size:cover;
    height:50px;width:100%;
}
.border{
    border:2px solid transparent;
}
.border:hover{
    border:1.5px solid white ;
}
/* box2 styling */
.add-first{
    color:#cccccc;
    font-size:0.85rem;
    margin-left:15px;
}
.add-second{font-size:1rem;
    margin-left:3px;
    color:white;
}
.add-icon{display:flex;
align-items:center;}
/* box3 */
.nav-search{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    width:620px;
    height:40px;
    border-radius:4px;
}
.nav-search:hover{
    border:2px solid rgb(117, 79, 9);
}
.select-search{
    background-color:#f3f3f3;
    width:50px;
    text-align:center;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    border:0px;
    height:32px;    
}
.search-input{
    width:100%;
    font-size:1rem;
    border:none;
    height:30px;
}
.search-icon{
    width:45px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1.2rem;
    background-color:#febd68;
    height:32px;
    color:#0f1111;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
}
/* box4 */
.b4{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    width:100px;   
}
.flag{background-image:url(Flag-India.web.webp);
    height:30px;
    background-size:cover;
    width:100%;
}
.en4{
    height:15px;
    width:100%;
    color:#ffffff;
    text-align:center;
    font-size:1rem;
}
.select4{
    height:10px;
    width:20px; 
    text-align:center;   
}
/* box5 */
span{
    font-size:0.7rem;
    color:white;
}
.nav-second{
    font-size:0.85;
    font-weight:700;
    color:white;
}
/* box6 */
.nav-cart i{
    font-size:30px;
}
.nav-cart{
    font-size:0.85rem;
    font-weight:700;
}
/* next 2 part */
.panel{
   height:50px;
    color:white;
    background-color:#222f3d;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
}   
.ops{
    margin-right:200px;
    display: inline;
}
a{
    margin-left:20px;
}
.diya{
    background-image: url(diya.avif);
    height:30px;
    background-size:cover;
    width:30px;
}
.box1{
    background-image:url(box1.jpg);
    height:270px;
    width:100%;
    background-size:cover;
}
.box2{
    background-image:url(box2.jpg);
    height:80px;
    width:100%;
    background-size:cover;
}
.box3{
     background-image:url(box3.jpg);
    height:100px;
    width:100%;
    background-size:cover;
}
.box4{
    background-color:#febd68;
    height:90px;
    display:flex;
    align-items:center;
    justify-content:space-evenly;        
}
.collect-now{
    background-image:url(collect-now.gif);
    height:90px;
    width:120px;
    background-size:cover;
}
.home{
     background-image:url(home.png);
    height:90px;
    width:120px;
    background-size:cover;
}
.bulk-purchase{
    background-image:url(bulk-purchase.png);
    height:90px;
    width:120px;
    background-size:cover;
}
.under{
      background-image:url(under299.png);
    height:90px;
    width:120px;
    background-size:cover;
}
.books{
      background-image:url(books&toys.png);
    height:90px;
    width:120px;
    background-size:cover;
}
.brands{
      background-image:url(brands-in-focus.png);
    height:90px;
    width:120px;
    background-size:cover;
}
.homeappliances{
      background-image:url(home-appliance.png);
    height:90px;
    width:120px;
    background-size:cover;
}
.echo{
      background-image:url(echo\,fire\,tv\,kindle.png);
    height:90px;
    width:120px;
    background-size:cover;
}
.gst{
      background-image:url(gst-store.png);
    height:90px;
    width:120px;
    background-size:cover;
}
.name1{
    height:20px;
    background-color:#febd68;
    display:flex;
    text-align:center;
    justify-content:space-evenly;
}
p{
    width:120px;
    color:black;
}
.box5{
    background-color:#febd68;
    height:130px;
    display:flex;
    align-items:center;
    justify-content:space-evenly;     
}
.bazzar{
    background-image:url(bazzar.jpg);
    height:90px;
    width:120px;
    background-size:cover;
    margin-right:10px;
}
.fashion{
    background-image:url(fashion.png);
    height:90px;
    width:120px;
    background-size:cover; margin-right:30px;
}
.amazon-fresh{
    background-image:url(amazon.png);
    height:90px;
    width:120px;
    background-size:cover; margin-right:30px;
}
.beauty{
    background-image:url(beauty.png);
    height:90px;
    width:120px;
    background-size:cover; margin-right:30px;
}
.electronics{
    background-image:url(electronics.png);
    height:90px;
    width:120px;
    background-size:cover; margin-right:30px;
}
.mobiles{
    background-image:url(mobile.png);
    height:90px;
    width:120px;
    background-size:cover; margin-right:30px;
}
.amazon-brands{
    background-image:url(amazon-b.png);
    height:90px;
    width:120px;
    background-size:cover; margin-right:30px;
}
.smart{
    background-image:url(smart.png);
    height:90px;
    width:120px;
    background-size:cover; margin-right:30px;
}
.name2{
    height:40px;
    background-color:#febd68;
    display:flex;
    text-align:center;
    justify-content:space-evenly;       
}
.space{
      height:20px; 
      background-color:  rgb(219, 190, 190);  
}
.sign{
    color:#cccccc;
    height:240px;
}
hr{
    margin-top:20px;
    margin-bottom:20px;
    height:20px;
    color: rgb(97, 18, 18); 
}
.see{
    margin-top:100px;
    color:black;
    text-align:center;
}
button{
    width:100px;
    border:2px solid black;
    border-radius:10px;
    background-color:yellow;
    color:black;
    text-align:center;
    margin-left:720px;
}
.new{
    text-align:center;

}
.new1{
    color:black;
}
.back1{
    background-color:#657585;
    padding:15px;
    text-align:center;
}
.back{
    padding:15px;
    background-color:#657585;
    color:white;
}
.content{
    height:400px;
    background-color:#222f3d;
    display:flex;
    text-align:center;
    justify-content:space-evenly;
    border-bottom:1px solid #cccccc;
}
.class{
    width:20%;
    background-color:#222f3d;
    width:20%;
    display:block;
}
.d{
    color:white;
    font-weight:700;
    margin-right:100px;    
}
#a1{
    color:#dddddd;
    display:block;
    width:170px;
    margin-bottom:10px;    
}
#a1:hover{
    border-bottom:2px solid #dddddd;
}
.fe{
    height:150px;
    background-color:#222f3d;
    display:flex;
    align-items:center;   
}
.sec2-logo{
    height:70px;width:100px;
    text-align: center;
    margin-left: 40%;
    margin-top:10px;
}
.sec-logo{
    background-image:url(logo2.jpg);
    background-size:cover;
    height:60px;width:100%;    
}
.english{
    height:30px;
    width:150px;
    border:1px solid white;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    margin-left:100px;;
}
.browser{
    height:25px;
    width:100%;
    font-size:1.2rem;
    color:white;
}
.btn1{
    height:25px;
    width:100%;
    border:none;
    font-size:1rem;
    color:white;
    text-align:none;
    margin-left:0px;
    background-color:#222f3d;
}
.lang{
    height:25px;
    width:100%;
    color:white;
    font-size:0.9rem;
    font-weight:200px;
}
.copy{
    height:25px;
    width:100px;
    border:1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.flag2{background-image:url(Flag-India.web.webp);
    height:20px;
    background-size:cover;
    width:40px;    
}
.name3{
    height:20px;
    width:100%;
    color:white;
    font-size:0.9rem;
    font-weight:200px;
    background-color:#222f3d;
}
.l{
    height:50px;
    background-color:#131a22;
    color:#dddddd;
    padding:60px 0px;
    display:flex;
    text-align:center;
    justify-content:space-evenly;
}
.f:hover{
    border-bottom:1px solid #dddddd;
}
.t:hover{
    border-bottom:1px solid #dddddd;
}
.q:hover{
    border-bottom:1px solid #dddddd;
}

.f{
    margin-bottom:30px;
    width:8%;
    display:flex;
    text-align:center;
    flex-direction:column;
    align-items:center;
}
.t{
    font-weight:900;
}
.q{
    font-weight:200;
    font-size:0.92rem;
}
.footer{
    height:80px;
    width:100%;
    background-color:#131a22;
    color:#dddddd;
    text-align:center;
    display:flex;
    flex-direction:column;
    padding:10px 0px 30px;
}
.copy1{
    display:inline;
}
.copy1:hover{
    border-bottom:1px solid #dddddd;
}
















